<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://functemplatefunctions.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>False</LaunchSiteAfterPublish>
    <ResourceId>/subscriptions/152143d1-b0c6-47ed-9878-a3c82aa8b646/resourceGroups/rsgTemplateFunctions/providers/Microsoft.Web/sites/funcTemplateFunctions</ResourceId>
    <UserName>$funcTemplateFunctions</UserName>
    <_SavePWD>True</_SavePWD>
    <PublishUrl>https://functemplatefunctions.scm.azurewebsites.net/</PublishUrl>
  </PropertyGroup>
</Project>